<header>
    <!-- Header -->
    <div class="container header-container">
        <a href="https://pleasanthomestay.in" class="logo">
            <img src="assets/img/logo.png" alt="Pleasant HomeStay Logo">
            Pleasant <span>HomeStay</span>
        </a>
        
        <div class="mobile-menu-btn">
            <i class="fas fa-bars"></i>
        </div>
        <nav class="navbar">
            <ul class="nav-menu">
                <li><a href="https://pleasanthomestay.in" class="active">Home</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="rooms.html">Rooms</a></li>
                <li><a href="facilities.html">Facilities</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="contact.html">Contact Us</a></li>
            </ul>
        </nav>
    </div>
</header>